<ul>
    <a class="navigation-item w-nav-link" asp-controller="About" asp-action="Index">About</a>
    <a class="navigation-item w-nav-link" asp-controller="Projects" asp-action="Index">Work</a>
    <a class="navigation-item w-nav-link" asp-controller="Team" asp-action="Index">Team</a>
    <a class="navigation-item w-nav-link" asp-controller="Blog" asp-action="Index">Blog</a>
    <a class="navigation-item w-nav-link" asp-controller="Contact" asp-action="Index">Contact</a>
    <a class="nav-link w-nav-link" style="cursor:pointer" onclick="SetCulture('ru-RU');">|RU</a>
    <a class="nav-link w-nav-link" style="cursor:pointer" onclick="SetCulture('kk-KZ');">KK|</a>
    <form id="cultureForm" asp-action="Index">

       
    </form>
</ul>