<div class="section cc-home-wrap">
    <div class="intro-header cc-subpage">
        <div class="intro-content">
            <div class="heading-jumbo">
                Our work<br>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="section-heading-wrap">
            <div class="label cc-light">
                Our Work
            </div>
            <h2>Team projects</h2>
        </div>
        <div class="w-layout-grid projects-grid">
            <div id="w-node-7763e2d38cdc-6ea75399">
                <a class="project-cover-link w-inline-block" href="/work/project-1"><img alt="" class="project-cover-pic" src="images/portfolio-201-20-20wide.svg"></a>
                <div class="project-name-wrap">
                    <a class="project-name-link" href="/work/project-1">Project #1</a>
                    <div class="paragraph-light">
                        Art direction
                    </div>
                </div>
            </div>
            <div id="w-node-7763e2d38ce3-6ea75399">
                <a class="project-cover-link w-inline-block" href="/work/project-2"><img alt="" class="project-cover-pic" src="images/portfolio-202-20-20wide.svg"></a>
                <div class="project-name-wrap">
                    <a class="project-name-link" href="/work/project-2">Project #2</a>
                    <div class="paragraph-light">
                        Product Design
                    </div>
                </div>
            </div>
            <div id="w-node-7763e2d38cea-6ea75399">
                <a class="project-cover-link w-inline-block" href="/work/project-3"><img alt="" class="project-cover-pic" src="images/portfolio-203-20-20wide.svg"></a>
                <div class="project-name-wrap">
                    <a class="project-name-link" href="/work/project-3">Project #3</a>
                    <div class="paragraph-light">
                        Animation
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>