<div class="section">
    <div class="intro-header cc-subpage">
        <div class="intro-content">
            <div class="heading-jumbo">
                Log-In<br>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="w-layout-grid contact-form-grid">
            <div class="contact-form-wrap" id="w-node-509be705858e-72b94c39">
                <div class="contact-form-heading-wrap">
                    <h2 class="contact-heading">Login</h2>
                    <div class="paragraph-light">
                       Login
                    </div>
                </div>
                <div class="contact-form w-form">
                    <form action="@Url.Action("Login", "Account")" method="post">
                        <div>
                            <h4>Log in to your account</h4>
                            <p>Welcome back! Please enter your details.</p>
                        </div>
                        <div>
                            <label for="Email">Email</label><input autocomplete="username"  data-wf-user-form-input-type="email" id="wf-log-in-email" maxlength="256" name="Email" placeholder="" required="" type="email">
                        </div>
                        <div>
                            <label for="Password">Password</label><input  data-wf-user-form-input-type="password" id="wf-log-in-password" maxlength="256" name="Password" placeholder="" required="" type="password">
                        </div>
                        <div>
                            <input data-wait="Please wait..." type="submit" value="Log In">
                        </div>
                    </form>
                </div>
            </div>
            <div id="w-node-509be70585a6-72b94c39">
                <div class="details-wrap">
                    <div class="label">
                        Our offices
                    </div>
                    <div class="paragraph-light">
                        Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.
                    </div>
                </div>
                <div class="details-wrap">
                    <div class="label">
                        OUR OFFICE
                    </div>
                    <div class="paragraph-light">
                        908 Broadway,<br>
                        San Francisco,<br>
                        CA 94133
                    </div>
                </div>
                <div class="details-wrap">
                    <div class="label">
                        WORKING HOURS
                    </div>
                    <div class="paragraph-light">
                        9AM - 3PM, Mon to Fri
                    </div>
                </div>
                <div class="details-wrap">
                    <div class="label">
                        CONTACT
                    </div><a class="contact-email-link" href="mailto:contact@business.com?subject=You&#x27;ve%20got%20mail!">contact@business.com</a>
                    <div class="paragraph-light">
                        01 (650) 658 6822
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
