<div class="section cc-home-wrap">
    <div class="intro-header cc-subpage">
        <div class="intro-content">
            <div class="heading-jumbo">
                Team<br>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="section-heading-wrap">
            <div class="label cc-light">
                Our people<br>
            </div>
            <h2>Our world-class team<br></h2>
        </div>
        <div class="w-layout-grid team-members">
            <div id="w-node-6bd9fce9803c-16b94d70">
                <div class="team-pic"></div>
                <div class="team-member-title-wrap">
                    <div class="team-member-name">
                        Michael Fassbender
                    </div>
                    <div class="paragraph-light">
                        CEO
                    </div>
                </div>
            </div>
            <div id="w-node-6bd9fce98043-16b94d70">
                <div class="team-pic"></div>
                <div class="team-member-title-wrap">
                    <div class="team-member-name">
                        Jason Smith
                    </div>
                    <div class="paragraph-light">
                        Product Designer
                    </div>
                </div>
            </div>
            <div id="w-node-6bd9fce9804a-16b94d70">
                <div class="team-pic"></div>
                <div class="team-member-title-wrap">
                    <div class="team-member-name">
                        Amanda Peterson
                    </div>
                    <div class="paragraph-light">
                        Design Director
                    </div>
                </div>
            </div>
            <div id="w-node-6bd9fce98051-16b94d70">
                <div class="team-pic"></div>
                <div class="team-member-title-wrap">
                    <div class="team-member-name">
                        Billy Maxwell
                    </div>
                    <div class="paragraph-light">
                        Lead Developer
                    </div>
                </div>
            </div>
            <div id="w-node-6bd9fce98058-16b94d70">
                <div class="team-pic"></div>
                <div class="team-member-title-wrap">
                    <div class="team-member-name">
                        Joshua Harris
                    </div>
                    <div class="paragraph-light">
                        CTO
                    </div>
                </div>
            </div>
            <div id="w-node-6bd9fce9805f-16b94d70">
                <div class="team-pic"></div>
                <div class="team-member-title-wrap">
                    <div class="team-member-name">
                        Esther Ford
                    </div>
                    <div class="paragraph-light">
                        Recruiter
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>